* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

html {
    overflow: hidden;
}

body {
    background-image: url(../img/bg.png);
    background-color: #1C8CFF !important;
    background-blend-mode: overlay;
}

.headingText>h1 {
    color: white;
    position: relative;
    top: 50px;
    margin-left: 5vw;
    font-size: 60px;
    font-family: "Big Shoulders Text", serif;
}

.bgImage {
    z-index: -10;
    height: 700px;
    opacity: 50%;
}

.nextButton>button {
    color: black;
    position: relative;
    top: 80px;
    margin-left: 5vw;
    padding: 10px 50px;
    border-radius: 40px;
}

.overlay>img {
    position: absolute;
    right: 0;
    bottom: 0;
    /* left: 966px; */
    /* bottom: -271px; */
    width: 400px;
    height: 400px;
}

/* .overlay > .lingkaran{
    position: absolute;
    background-color: white;
    border-radius: 100px 100px 100px 0px;
    padding: 100px;
    left: -50px;
    bottom: -290px;
    width: 100px;
    overflow: hidden;
}
 */

.eclipse1 {
    position: absolute;
    left: -75px;
    bottom: -150px;
    background-color: white;
    border-radius: 100%;
    height: 300px;
    width: 300px;
}

.eclipse2 {
    position: absolute;
    right: -100px;
    top: -150px;
    background-color: white;
    border-radius: 100%;
    height: 300px;
    width: 300px;
}